<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>


<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<script src="~/desktopmodules/mvc/VanTaiDuongBo/Content/Script/bootstrap.min.js"></script>
<link href="~/desktopmodules/mvc/VanTaiDuongBo/Content/bootstrap-toggle.min.css" rel="stylesheet" />
<script src="~/desktopmodules/mvc/VanTaiDuongBo/Content/bootstrap-toggle.min.js"></script>
<!--Script DevStream-->
<link href="~/desktopmodules/mvc/VanTaiDuongBo/Assets/DevExtreme/DevExetemeCss/dx.common.css" rel="stylesheet" />
<link href="~/desktopmodules/mvc/VanTaiDuongBo/Assets/DevExtreme/DevExetemeCss/dx.light.css" rel="stylesheet" />

<script src="~/desktopmodules/mvc/VanTaiDuongBo/Assets/DevExtreme/DevExtremeJs/dx.all.js"></script>
<script src="~/desktopmodules/mvc/VanTaiDuongBo/Assets/DevExtreme/DevExtremeJs/jszip.min.js"></script>

<link href="~/desktopmodules/mvc/VanTaiDuongBo/Assets/DevExtreme/font-awesome/css/font-awesome.css" rel="stylesheet" />

<link href="~/desktopmodules/mvc/VanTaiDuongBo/Assets/css/SoLieuXe.css" rel="stylesheet" />
<link href="~/desktopmodules/mvc/VanTaiDuongBo/Assets/css/StyleVanTai.css" rel="stylesheet" />
<link href="~/desktopmodules/mvc/VanTaiDuongBo/Assets/css/ChiTietVanTai.css" rel="stylesheet" />

<div id="mvcContainer-@Dnn.ActiveModule.ModuleID">
    @RenderBody()
</div>


